<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>

    <title></title>
    


    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    

    </head>

<body>
    
    <div class = 'container'>
        <div class = 'jumbotron' align = 'center'>
            <div class = 'container'>

        


        
        
    <h1> it's python and django is framework and dbsqlite is database</h1>
    <a class="btn btn-primary btn-lg" href = 'movies' role = '/button'>movies news</a>&nbsp&nbsp&nbsp&nbsp
    <a class="btn btn-primary btn-lg" href = 'sports' role = '/button'>sports news</a>&nbsp&nbsp&nbsp&nbsp
    <a class="btn btn-primary btn-lg" href = 'politics' role = '/button'>politics news</a>&nbsp&nbsp&nbsp&nbsp

        </div>
    </div>
</div>

    
    


</body>

</html>